{% set valuez = datas.value|split("##") %}
<div class="input-field"  >
	<div class="row">
		<input id="{{ datas.id }}_1"   value="{{ valuez[0] }}" type="text" placeholder="Valeur"  class="col s2" style="border-right: 1px solid #eee;">
		<input id="{{ datas.id }}_1_1"   value="{{ valuez[1] }}" type="text" placeholder="Texte" class="col s10">
		
		<input id="{{ datas.id }}_2"   value="{{ valuez[2] }}" type="text" placeholder="Valeur" class="col s2" style="border-right: 1px solid #eee;">
		<input id="{{ datas.id }}_2_1"   value="{{ valuez[3] }}" type="text" placeholder="Texte" class="col s10">
		
		<input id="{{ datas.id }}_3"   value="{{ valuez[4] }}" type="text" placeholder="Valeur" class="col s2" style="border-right: 1px solid #eee;" >
		<input id="{{ datas.id }}_3_1"   value="{{ valuez[5] }}" type="text" placeholder="Texte" class="col s10">
    </div>
</div>


<input id="{{ datas.id }}" name="{{ datas.slug }}"  value="{% if datas.value is defined %}{{ datas.value|raw }}{% endif %}" type="hidden"   {% if datas.validate is defined %} required {% endif %} >

<script>
	$(function() {
		$("#{{ datas.id }}_1, #{{ datas.id }}_1_1, #{{ datas.id }}_2, #{{ datas.id }}_2_1, #{{ datas.id }}_3, #{{ datas.id }}_3_1").on("change",function(){
			
			var combo = $("#{{ datas.id }}_1").val() + "##" + $("#{{ datas.id }}_1_1").val() + "##" + $("#{{ datas.id }}_2").val() + "##" + $("#{{ datas.id }}_2_1").val() + "##" + $("#{{ datas.id }}_3").val() + "##" + $("#{{ datas.id }}_3_1").val();
			$("#{{ datas.id }}").val(combo);
		});
	});
</script>