


<style>
.removecontentmultiple{
	border-radius: 90px;
	    background-color: rgba(0,0,0,.4);
	    display: block;
	    width: 40px;
	    height: 40px;
	    text-align: center;
	    color: #FFF;
	    padding-top: 9px;
	    position: absolute;
	    top: 0;
	    left: -52px;
}
.blockCM{
	display: block;
	position: relative;
}
.addblokk{
	margin-top: 20px;
}
</style>




<div id="content_{{ datas.id }}" class="cmmaster">

	{% for i in 0..datas.value|length %}

		{# dump(datas.value[i])|raw #}
		<div  class="blockCM" id="block_{{ datas.id }}_{{i}}">
			

			{# titre #}
		    <input name="{{ datas.slug }}[{{i}}][titre]"  value="{{ datas.value[i].titre }}" type="text" placeholder="Titre" class="cm_titre"   >
		   
		   {# contenu #}
		   <div id="englobe{{ datas.id }}_{{i}}"  > 
		   		<textarea class="form-control wysiwyg"  name="{{ datas.slug }}{{i}}][contenu]" rows="3">{{ datas.value[i].contenu|raw }}</textarea>
		   </div>
		   {% if is_array(datas.value[i].image)  %}
		   		{% set img = datas.value[i].image[0] %}
		   	{% else %}		
		   		{% set img = datas.value[i].image %}
		   {% endif %}	

		   {# image #}
		   <div class="clear"></div><br>
		   <div class="file-field input-field">
		         <div class="btn">
		           <span>Upload</span>

		           <input type="file"   data-id="module_{{ datas.slug }}_{{i}}_image"  data-div="receipt{{ datas.slug }}_{{i}}_image" data-type="img" value="{{ img|raw }}">
		         </div>
		         <div class="file-path-wrapper">
		           <input class="file-path validate" id="gallery{{ datas.slug }}_{{i}}_image"  name="{{ datas.slug }}[{{i}}][image]" type="text"  value="{{ img|raw }}">
		         </div>
		   </div>
		   
		    <div id="receipt{{ datas.slug }}_{{i}}_image" class="receiptmedias image_unique">
		    {% if datas.value[i].image is defined and datas.value[i].image!="" %}
		   	<img src="{{ datas.uploads }}{{ img|raw }}">
		    {% endif %}
		    </div>


		    






			

		   {# remove btn #}
		   {% if i!=0 %}
		   <div class="removecontentmultiple" data-id="block_{{ datas.id }}_{{i}}"><i class	="icon icon-trashcan"></i></div>
		   {% endif %}
		   
		   
	   </div>
	{% endfor %}

</div>



<div class="btn tooltippp addbutton btn-floating btn-large waves-effect waves-light addblokk" id="add_{{ datas.id }}" data-position="bottom" data-delay="50" data-tooltip="Ajouter un block texte." ><i class="icon icon-add2"></i></div>


<script>
	var n_content = {{ datas.value|length }};
	$(function() {
		$("#add_{{ datas.id }}").on("click",function(){
			var numb = n_content;
			n_content =  n_content+1;
			


			var tpl = '<div class="blockCM" id="block_{{datas.id}}_'+numb+'"> <input name="{{datas.slug}}['+numb+'][titre]" value="" type="text" placeholder="Titre" class="cm_titre" > <div id="englobe{{datas.id}}_'+numb+'" > <textarea class="form-control wysiwyg" name="{{datas.slug}}['+numb+'][contenu]" rows="3"></textarea> </div><div class="clear"></div><br><div class="file-field input-field"> <div class="btn"> <span>Upload</span> <input type="file" name="{{datas.slug}}['+numb+'][image]" data-id="module_{{datas.id}}['+numb+'][image]" data-div="receipt{{datas.slug}}_'+numb+'_2" data-type="img" > </div><div class="file-path-wrapper"> <input class="file-path validate" name="{{datas.slug}}['+numb+'][image]" type="text" value=""> </div></div><div id="receipt{{datas.slug}}_'+numb+'_2" class="receiptmedias image_unique"></div><div class="removecontentmultiple" data-id="block_{{datas.id}}_'+numb+'"><i class="icon icon-trashcan"></i></div></div>';
		
			$("#content_{{ datas.id }}").append(tpl);

             $('#englobe{{datas.id}}_'+numb+' textarea').trumbowyg({
                    lang: 'fr',
                    btnsDef: {
                            // Customizables dropdowns
                            formattingLight: {
                                dropdown: ['h2','h3','p','blockquote'],
                                ico: 'p' // Apply formatting icon
                            }
                    },
                    btns: toolbar,
                    autogrow: false,
                    removeformatPasted: true,
                    mobile: true,
                    fixedBtnPane: false,
                    fixedFullWidth: false,
                    //svgPath: false,
                    semantic: {
                        'b': 'strong',
                        'i': 'em',
                        's': 'del',
                        'strike': 'del',
                        'div': 'p'
                    },
                    resetCss: true,
                    autogrow: true,
                    autogrowOnEnter: true,
                    autoAjustHeight: false,
                    //prefix: 'custom-prefix',
                    plugins: {
                        // Add imagur parameters to upload plugin
                         upload: {
                             serverPath: api_url+'upload',
                             fileFieldName: 'image',
                             urlPropertyName: 'data.link'
                         }
                    }
            });

            $('.trumbowyg-editor').on("mouseleave",function(){
                var content = $(this).html();
                ////console.log("content:"+$(this).parent().children("textarea").attr("id"));
                var id_module = $(this).parent().children("textarea").attr("id");
                $("#"+id_module).val(content);
            });
            
            
			
		});

		$("html,body").on("click",'.removecontentmultiple', function(){
			var id_CM = $(this).data("id"); 
			$("#"+id_CM).remove();
			majcm();
		});
	});

	function majcm(){


	}
</script>

