{% if is_array(datas.value) %}
	{% set valuestring = tostring(datas.value) %}
	{% set value = datas.value %}
{% else %}
	{% set valuestring = datas.value %}
	{% set value = datas.value|split(',') %}
{% endif %}

<div class="clear"></div>

<div class="js-upload{{ datas.id }} uk-placeholder uk-text-center">
    <span uk-icon="icon: cloud-upload"></span>
    <span class="uk-text-middle">Glissez vos images ici ou </span>
    <div uk-form-custom>
        <input type="file" data-id="{{ datas.id }}"  data-div="receipt{{ datas.slug }}" data-type="img" multiple>
        <span class="uk-link">sélectionnez-les en cliquant ici.</span>
        
        
    </div>
</div>

<input class="file-path validate uk-input" type="hidden" name="{{ datas.slug }}" id="gallery{{ datas.id }}" value="{{ datas.value }}">


 <ul id="receipt{{ datas.slug }}" class="receiptmedias collection sortable sortable_medias uk-sortable-handle" data-id="gallery{{ datas.id }}" uk-sortable="handle: .handle_media">

 {% if value is defined and valuestring!="" and is_array(value) and value|length > 0 %}

	 {% for img in value %}
	 	
 		
 		<li class="uk-light uk-background-cover" data-id="{{ img }}" data-src="{{ datas.uploads }}medium_{{ img }}" uk-img>
 			<div class="uk-close-large delete_media uk-icon uk-close uk-flex uk-flex-center uk-flex-middle" data-img="{{ img }}" uk-close></div>
      <div uk-lightbox><a href="{{ datas.uploads }}big_{{ img }}" class="hover_img_btn voir uk-flex uk-flex-center uk-flex-middle "><i class="icon icon-eye-1"></i></a></div>
 			<div class="hover_img_btn drag uk-flex uk-flex-center uk-flex-middle handle_media"><i class="icon icon-grid"></i></div>
 				
 		</li>

		
	 {% endfor %}
 {% endif %}
 </ul>
 


 <script>


	var api_url = $("#data_url_api").data("url");
	var val_base = $("#gallery{{ datas.id }}").val();

    UIkit.upload('.js-upload{{ datas.id }}', {

        url: api_url+'uploads',
        multiple: true,
 		beforeSend: function (environment) {
           loading();
        },
        complete: function (arguments) {
            
          var datas = $.parseJSON(arguments.response);

  				 var html_img =  '<li class="uk-light uk-background-cover" data-id="'+datas.data[0].id+'" data-src="'+root_url+'uploads/medium_'+datas.data[0].id+'" uk-img><div class="hover_img_btn drag uk-flex uk-flex-center uk-flex-middle handle_media"><i class="icon icon-grid"></i></div><div class="uk-close-large delete_media uk-icon uk-close uk-flex uk-flex-center uk-flex-middle" data-img="'+datas.data[0].id+'"  uk-close></div><div uk-lightbox><a href="{{ datas.uploads }}big_'+datas.data[0].id+'" class="hover_img_btn voir uk-flex uk-flex-center uk-flex-middle "><i class="icon icon-eye-1"></i></a></div></li>';

           		$("#receipt{{ datas.slug }}").append(html_img);
           		
           		if(val_base==""){
           			val_base = datas.data[0].id;
           		}else{
           			val_base = val_base + ","+datas.data[0].id;
				}
				$("#gallery{{ datas.id }}").val(val_base);
			//}



			actions{{ datas.id }}("{{ datas.id }}");
  
            
        },
        completeAll:function(){
        	end_loading();
        }

    });



function actions{{ datas.id }}(id){
    $('.delete_media').on('click', function(e){


      var img = $(this).data("img");
      val_base = val_base.replace(','+img, '');
      val_base = val_base.replace(img, '');
      val_base = val_base.replace(",,",',');
      if (val_base.substring(0,1)==",") {
        val_base= val_base.substring(1);
      }
      $(this).parent().remove();  
      $("#gallery"+ id ).val(val_base);
     
      
    });

  UIkit.util.on('.sortable_medias', 'moved', function (item) {
    //console.log(item.detail[1].id);
    var id = $(this).attr("id");
    console.log("id:"+id);
    var dataIDList = $('#'+id+' li').map(function(){  
      return $(this).data("id"); 
    }).get().join(",");

    console.log("dataIDList:"+dataIDList);
    $("#gallery{{ datas.id }}").val(dataIDList);

    
  });

}

actions{{ datas.id }}( "{{ datas.id }}");




</script>
<div class="clear"></div>