<div class="clear"></div>
<br>
<pre class="editor" id="editor{{ datas.id }}" data-input="{{ datas.id }}" data-mode="html"  >{{ datas.html }}</pre>
<textarea  id="input_edit{{ datas.id }}" name="{{ datas.slug }}" style="display:none;">{{ datas.html }}</textarea>