{% set tags = datas.value|raw|split(',') %}



<div class="uk-margin">
<input  type="text" id="{{ datas.id }}" name="{{ datas.slug }}" value="{% if datas.value is defined and datas.value!="" %}{{ datas.value|raw }}{% endif %}">
</div>

<script>
        var tagInput1 = new TagsInput({
            selector: '{{ datas.id }}',
            duplicate : false
        });

        {% if datas.value|raw!="" %}
        tagInput1.addData([ {% set ntags = 0 %}{% for tag in tags %}{% if ntags == 0 %}"{{ tag|raw }}"{% else %}, "{{ tag|raw }}"{% endif %}{% set ntags = ntags + 1 %}{% endfor %} ]);
        {% endif %}
        $(" .tags-input-wrapper input").addClass("uk-input");
        $(" .tags-input-wrapper input").addClass("uk-form-width-small");
    
 </script>

 <style>
 /*.tags-input-wrapper input,
 .tags-input-wrapper input:focus,
  .tags-input-wrapper input.active{
     border: 1px solid #fff;
     border-color: #fff;
         padding: 8px;
 }*/
 </style>
{#
 val_base = val_base.replace(','+img, '');
      val_base = val_base.replace(img, '');
      val_base = val_base.replace(",,",',');
      if (val_base.substring(0,1)==",") {
        val_base= val_base.substring(1);
      }}
#}