<div class="clear"></div>
<pre class="editor" id="editor{{ datas.id }}" data-input="{{ datas.id }}" data-mode="yaml"  style="min-height: 250px;">{{ datas.value|raw }}</pre>

<textarea  id="input_edit{{ datas.id }}" name="{{ datas.slug }}" style="display:none;">{{ datas.value|raw }}</textarea>