{% extends "layout_connect.twig" %}

 {% block content %}
		

	
				

 						
 						{# RETURN  #}
 						
 						
 						{% if return is defined and return!="" %}
 							<a href="{{ local }}{{ return }}" class="uk-box-shadow-hover-small bttn bttn-top" uk-tooltip="title: {{languages.revenir}}; pos: right"><i class="icon icon-left"></i></a>		
 						{% endif %}
 						
 						
 						{# NEW article (same language) #}
 						{% set languearray = parametres.htmlpublish|split(',') %}
 						{% if user.type=="1" or user.type=="2" and in_array("c",folder.perm2) or user.type=="3" and in_array("c",folder.perm3) and languearray|length==1 %}
 						
 						<a href="{{ local }}articles/{{cat_id}}/new/" class="uk-box-shadow-hover-small bttn bttn-top" uk-tooltip="title: {{ languages.ajouterarticle }}; pos: right"><i class="icon icon-plus2"></i></a>								
 						{% endif %}	


 						{# VIEW PAGE #}
 						{% set languearray = parametres.langues|split(',') %}
 						{% if article.page=="" %}
							{% set artpage=folder.page %}
						{% else %}
							{% set artpage=article.page %}
						{% endif %}
 						
 						{% if folder.page=="true" %}
                            <a class="uk-box-shadow-hover-small bttn bttn-top lunchviewsite" uk-tooltip="title: {{ languages.voirpage}}; pos: right"><i class="icon icon-eye"></i></a>
                            <script>
                            function lunchws(){
                                $(".lunchviewsite").on("click",function(){
                                    console.log("lunchviewsite");
                                    var iframeurl = $("#viewwebsite").data("url");
                                    $("#viewwebsite").prepend("<iframe src='"+iframeurl+"' ></iframe>");
                                    $("#viewwebsite").addClass("active");

                                    closews();
                                    //lunchws();
                                });
                            }

                            function closews(){

                                $(".closeviewsite").on("click",function(){
                                    document.location.reload(true);
                                    //console.log("closeviewsite");
                                    //$("#viewwebsite iframe").remove();
                                    //$("#viewwebsite").removeClass("active");
                                    //lunchws();
                                });
                            }

                            lunchws();


                            </script>
 						
                        {% endif %}

 						{# 	--------------
 							version langues 
 							-------------- #}
 						
 						{% set languearray = parametres.langues|split(',') %}
 						
 						
 						
 						{# ------- versions pre existantes article d'une autre langue ---------- #}
 						
 			

 						
 															
 						




			
			{% if new %}
			<form role="form" action="{{ root }}api/v1/create/articles/" class="ajaxFormscreate" method="post" id="articles{{ article.id }}" data-basereload="{{ local }}articles/{{cat_id}}/" >
			
			{% else %}
			<form role="form" action="{{ root }}api/v1/update/articles/{{article.id}}" class="ajaxForms" method="post" id="article{{ article.id }}" >
			{% endif %}

				        

	<div class="clear"></div>							
 	<div class="space"></div>	

				
<h1 class="uk-h3">{{ languages.title }}</h1>

	
							
							{% include 'texte.twig' with {'datas': { 
								'id': 'titre',
								'slug': 'titre',
								'value': article.titre,
								'ref': '',
								'local':local,
								'user':user.type,
								'validate':true,
								'options':'',
								"languearray":languearray
							} }  only %}
							
						

<hr class="uk-divider-small">



<ul id="sortable" data-table="modules" data-ref="{{ article.id }}" class="sortable article collection uk-sortable-handle" uk-sortable="handle: .handle">
						
						{% for key,module in article.modules  %}
							
							
								
								{% include 'justmodule.twig' with {"datas":{ 
									'id': module.id,
									'titre': module.titre|raw,
									'type':module.type,
									'slug': module.slug,
									'html': module.html,
									'needed': module.needed_array,
									'commentaire':module.commentaire,
									'value': module.value,
									'ref': article.id,
									'local':local,
									'user':user.type,
									'uploads':uploads,
									'options':module.options,
									'folders':folders,
									'article':article,
									'traductible':module.traductible,
									'languearray':languearray
								}} only %}
								
							
						{% endfor %}
						</ul>
				
						
						
						 
						 
						 
				
				
			
			
	
						{% if cat.showtags=="true" %}
							<h1 class="uk-h3">{{ languages.tags }}</h1>
							{% include 'tags.twig' with {'datas': { 
								'id': 'tags',
								'slug': 'tags',
								'value': article.tags|raw,
								'ref': '',
								'local':local,
								'user':user.type,
								'options':'',
								'languearray':languearray,
								'parametres': parametres
							} }  only %}
							
								
							<hr class="uk-divider-small">
						{% endif %}							
							
							
								
						{% if cat.page=="true" and cat.template=="" %}
						
						{% if new %}
							{% set tpl = folder.template %}
						{% else %}
							{% set tpl = article.template %}
						{% endif %}
						
						
						<div class="clear"></div>
						
							<h1 class="uk-h3">{{ languages.template }}</h1>
							{% include 'select.twig' with {'datas': { 
								'id': 'template',
								'slug': 'template',
								'value': tpl,
								'ref': '',
								'local':local,
								'user':user.type,
								'options':tpls,
							} }  only %}
						
							<hr class="uk-divider-small">

						{% else %}
							<input name="template" type="hidden" id="template" value="{{ folder.template }}">
						{% endif %}


						
{% if folder.forcemodules!="true" %}
							<h1 class="uk-h3">{{ languages.modules }}</h1>
						

<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
   {% for module in modules %}
            <label><input class="uk-checkbox"  id="modules" name="modules[]" type="checkbox" value="{{ module.id }}" {% if in_array(module.id,modules_ids) %}checked{% endif %}>{{ module.titre }}</label>
    {% endfor %}
</div>
						

							{% include 'blockquote.twig' with {'string': languages.infomodules   }  only %}
							<hr class="uk-divider-small">
{% endif %}	
					
						
						
						
						{#
						-------------------------------
						Metas description title
						-------------------------------
						#}
						{% if cat.page=="true" and article.page!="false"   %}
							{% include 'articleMetas.twig'  %}
						{% endif %}
						
						{#
						defini :
							si ça doit s'afficher dans le sitemap
							si ça doit afficher les champs title et description
							si ça doit afficher le outon link direct
						#}



					<input name="ref" type="hidden" id="ref" value="{{ article.ref }}">
					<input name="folder" type="hidden" id="cat" value="{{ folder.id }}">
					<input name="lang" type="hidden" value="{{ article.lang|lower }}">
					

{% if user.type=="1" and folder.page == "true" and article.page == "" and cat.id==1 or article.page == "true"  and user.type=="1" and cat.id==1  %}

{# 
	----------------------- article priority for sitemap
#}


<h1 class="uk-h3">{{ languages.sitemappriority }}</h1>
	
	{% if article.sitemappriority=="" %}
		{% set sitemappriority=folder.sitemappriority %}
	{% else %}
		{% set sitemappriority=article.sitemappriority %}
	{% endif %}	

	{% include 'select.twig' with {'datas': { 
		'id': 'sitemappriority',
		'slug': 'sitemappriority',
		'value': sitemappriority,
		'local':local,
		'user':user.type,
		'options':'0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1',
		'validate':false
	}}  only %}

	


{% include 'blockquote.twig' with {'string': languages.sitemapprioritycom    }  only %}
<hr class="uk-divider-small">
{# 
	----------------------- article frequence update for sitemap
#}

	<h1 class="uk-h3">{{ languages.sitemapfrequence }}</h1>
	
	{% if article.sitemapfrequence=="" %}
		{% set sitemapfrequence=folder.sitemapfrequence %}
	{% else %}
		{% set sitemapfrequence=article.sitemapfrequence %}
	{% endif %}	

	{% include 'select.twig' with {'datas': { 
		'id': 'sitemapfrequence',
		'slug': 'sitemapfrequence',
		'value': sitemapfrequence,
		'local':local,
		'user':user.type,
		'options':'never,monthly,yearly,daily,weekly',
		'validate':false
	}}  only %}

	{% include 'blockquote.twig' with {'string': languages.sitemapfrequencecom    }  only %}
	<hr class="uk-divider-small">

{% else %}

	<input  id="sitemappriority" name="sitemappriority" type="hidden" value="{{ folder.sitemappriority }}">
	<input  id="sitemapfrequence" name="sitemapfrequence" type="hidden" value="{{ folder.sitemapfrequence }}">
{% endif %}

					
					{% if folder.page == "true" and cat.id==1 and user.type=="1" %}
						



{# 
	----------------------- article page? or datas?
#}

<h1 class="uk-h3">Page</h1>
							
							{% if article.page=="" %}
								{% set artpage=folder.page %}
							{% else %}
								{% set artpage=article.page %}
							{% endif %}

							{% include 'switch.twig' with {'datas': { 
								'id': 'page',
								'slug': 'page',
								'value': artpage,
								'ref': '',
								'local':local,
								'user':user.type,
								'options':'',
								'option1':"datas" ,
								'option2':"page"
							} }  only %}
{% include 'blockquote.twig' with {'string': "Définit s'il s'agit d'une page ou de simples données."   }  only %}
<hr class="uk-divider-small">
						

					{% else %}
					<input  id="pageoption" name="page" type="hidden" value="{{ folder.page }}">
					{% endif %}


						



						
						{# if cat.page == "true" #}
						
<h1 class="uk-h3">{{ languages.publie }}</h1>
							
							{% include 'switch.twig' with {'datas': { 
								'id': 'statut',
								'slug': 'statut',
								'value': article.statut,
								'ref': '',
								'local':local,
								'user':user.type,
								'options':''
							} }  only %}
							
<hr class="uk-divider-small">					
												
						{# endif #}

					
					
					<div id="articleid" class="hide" data-id="{{article.id}}"></div>

					
					
					
					
					<div class="clear"></div>			   
					<!-- Button trigger modal -->
					<button type="submit" class="uk-button uk-button-primary" id="submitarticle" >{{ languages.save }}</button>
				
					

				
				
				
				
				
					

						
								
					
						   

				 
				
				
				
				</form>




<div id="viewwebsite" data-url="{{ root }}{% if languearray|length > 1  %}{{ article.lang|lower }}/{% endif %}{{article.url}}">

<div class="bttn-top closebtn closeviewsite bttn"><i class="icon icon-close"></i></div>
</div>

{% include 'wysiwyg_init.twig' %}



{% endblock %}
 
 