{% extends "layout_connect.twig" %}

 {% block content %}
		

 						
 						{% if return is defined %}
 									<a  class="uk-box-shadow-hover-small bttn bttn-top" href="{{ local }}{{ return }}"  uk-tooltip="title: {{languages.revenir}}; pos: right"><i class="icon icon-left"></i></a>
 						{% endif %}	
 						
 						{% if 
 								user.type==1 or 
 								user.type==2 and in_array("c",parametres.permissions_folders)
 						%}
 						

 						 <a href="{{ local }}folders/new/" class="uk-box-shadow-hover-small bttn bttn-top" uk-tooltip="title: {{ languages.addcat }}; pos: right"><i class="icon icon-plus2"></i></a>
													
 						{% endif %}									
 		
 		<div class="clear"></div>							
 		<div class="space"></div>			




			{% if new %}
			<form role="form" action="{{ root }}api/v1/create/folders/" class="ajaxFormscreate" method="post" id="folders{{ folder.id }}" data-basereload="{{ local }}folders/" >
			{% else %}
			<form role="form" action="{{ root }}api/v1/update/folders/{{folder.id}}" class="ajaxForms" method="post" id="folders{{ folder.id }}" >
			{% endif %}
				
			
				
{# ------------------ CONTENT ---------------------- #}
				



				
<h1 class="uk-h3">{{ languages.title }}</h1>
								        
	{% include 'texte.twig' with {'datas': { 
		'id': 'titre',
		'slug': 'titre',
		'value': folder.titre,
		'local':local,
		'user':user.type,
		'options':'',
		'validate':true
	}}  only %}

<hr class="uk-divider-small">

{# ------------------ end componement ---------------------- #}
	
	
	<h1 class="uk-h3">Page</h1>

	{% include 'switch.twig' with {'datas': { 
		'id': 'forcepage',
		'slug': 'page',
		'value': folder.page,
		'local':local,
		'user':user.type
	}} only %}
<hr class="uk-divider-small">

{# ------------------ end componement ---------------------- #}

{% if folder.page=="true" %}
	
	<h1 class="uk-h3">{{ languages.sitemappriority }}</h1>
								        
	{% include 'select.twig' with {'datas': { 
		'id': 'sitemappriority',
		'slug': 'sitemappriority',
		'value': folder.sitemappriority,
		'local':local,
		'user':user.type,
		'options':'0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1',
		'validate':true
	}}  only %}
	


	{% include 'blockquote.twig' with {'string': languages.sitemapprioritycom  }  only %}
	<hr class="uk-divider-small">

{% endif %}

{# ------------------ end componement ---------------------- #}



{% if folder.page=="true" %}

	<h1 class="uk-h3">{{ languages.sitemapfrequence }}</h1>

	
								        
	{% include 'select.twig' with {'datas': { 
		'id': 'sitemapfrequence',
		'slug': 'sitemapfrequence',
		'value': folder.sitemapfrequence,
		'local':local,
		'user':user.type,
		'options':'never,monthly,yearly,daily,weekly',
		'validate':true
	}}  only %}

	{% include 'blockquote.twig' with {'string': languages.sitemapfrequence  }  only %}

	<hr class="uk-divider-small">
{% endif %}

{# ------------------ end componement ---------------------- #}





	<h1 class="uk-h3">Ordre par dates? ( ou libre )</h1>
		
	{% include 'switch.twig' with {'datas': { 
		'id': 'orderbydate',
		'slug': 'orderbydate',
		'value': folder.orderbydate,
		'local':local,
		'user':user.type
	}} only %}
<hr class="uk-divider-small">	
{# ------------------ end componement ---------------------- #}
	


	<h1 class="uk-h3">{{ languages.defaulttemplate }} :</h1>

	{% include 'select.twig' with {'datas': { 
		'id': 'template',
		'slug': 'template',
		'value': folder.template,
		'local':local,
		'user':user.type,
		'options':tpls
	}} only %}
	
	
	
	{% include 'blockquote.twig' with {'string': languages.defaulttemplate  }  only %}

	<hr class="uk-divider-small">	
{# ------------------ end componement ---------------------- #}
	
	
	
	
	
<h1 class="uk-h3">{{ languages.modules }}</h1>

<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
   {% for module in modules %}
            <label><input class="uk-checkbox"  id="modules" name="modules[]" type="checkbox" value="{{ module.id }}" {% if in_array(module.id,folder.modules) %}checked{% endif %}>{{ module.titre }}</label>
    {% endfor %}
</div>
{% include 'blockquote.twig' with {'string': "Modules utilisés pour cette catégorie."  }  only %}

<hr class="uk-divider-small">
{# ------------------ end componement ---------------------- #}



<h1 class="uk-h3">Forcer le shéma de modules</h1>
	
{% include 'switch.twig' with {'datas': { 
	'id': 'forcemodules',
	'slug': 'forcemodules',
	'value': folder.forcemodules,
	'local':local,
	'user':user.type,
	'options':'',
	'option1':'Non',
	'option2':'Oui'
}} only %}


<hr class="uk-divider-small">
{# ------------------ end componement ---------------------- #}


<h1 class="uk-h3">Afficher le module Tags</h1>
	
{% include 'switch.twig' with {'datas': { 
	'id': 'showtags',
	'slug': 'showtags',
	'value': folder.showtags,
	'local':local,
	'user':user.type
}} only %}


<hr class="uk-divider-small">
{# ------------------ end componement ---------------------- #}


{% if user.type=="1"  %}	
	
<h1 class="uk-h3">Autorisations Admin</h1>

{% include 'select_multiple.twig' with {'datas': { 
	'id': 'perm2',
	'slug': 'perm2',
	'value': folder.perm2,
	'local':local,
	'user':user.type,
	'options':'c,u,d',
	'option1':'Non',
	'option2':'Oui'
}} only %}

<hr class="uk-divider-small">
{# ------------------ end componement ---------------------- #}

	
	
<h1 class="uk-h3">Autorisations Editeur</h1>

	{% include 'select_multiple.twig' with {'datas': { 
	'id': 'perm3',
	'slug': 'perm3',
	'value': folder.perm3,
	'local':local,
	'user':user.type,
	'options':'c,u,d',
	'option1':'Non',
	'option2':'Oui'
}} only %}


<hr class="uk-divider-small">
{# ------------------ end componement ---------------------- #}

{% endif  %}

	
	
	
				
				
{# ------------------ !CONTENT ---------------------- #}
<div class="clear"></div>
<button type="submit" class="uk-button uk-button-primary" id="submit" >sauvegarder</button>
			
				
				
			
			</form>

			
			
	 

{% endblock %}
