{% extends "layout_connect.twig" %}

 {% block content %}
		
{# 
	-----------------------------
	revenir
	-----------------------------
#}
{% if return is defined  %}
 	
 	<a href="{{ local }}{{ return }}" class="uk-box-shadow-hover-small bttn bttn-top" uk-tooltip="title: {{ languages.revenir }}; pos: right"><i class="icon icon-left"></i></a>


{% endif %}	
 							
 							
{# 
	-----------------------------
	Ajouter
	-----------------------------
#}
{% if 
	user.type=="1" or 
 	user.type=="2" and in_array("c",parametres.permissions_modules)
 %}
 	<a href="{{ local }}modules/new/" class="uk-box-shadow-hover-small bttn bttn-top" uk-tooltip="title: {{ languages.addmodule }}; pos: right"><i class="icon icon-plus2"></i></a>

{% endif %}	

<div class="clear"></div>			
{% if 
	user.type=="1" or 
 	user.type=="2" and in_array("c",parametres.permissions_modules) or 
 	return is defined
 %}
<div class="space"></div>
{% endif %}					
 								
 {# 
	-----------------------------
	titre de la page
	-----------------------------
#}				
<div class="uk-dark">				
 <h3>{% if pagetitre is defined %}<a class="page-title truncate">{{pagetitre}}</a> {% endif %}</h3>		
</div> 												
	


{% if new %}
	<form role="form" action="{{ root }}api/v1/create/modules/" class="ajaxFormscreate" method="post" id="modules{{ module.id }}" data-basereload="{{ local }}modules/" >
{% else %}
	<form role="form" action="{{ root }}api/v1/update/modules/{{module.id}}" class="ajaxForms" method="post" id="modules{{ module.id }}" >
{% endif %}

				
{# ------------------ CONTENT ---------------------- #}
				



				

<h1 class="uk-h3">Titre</h1>
{% set datas = { 
	'id': 'titre',
	'slug': 'titre',
	'value': module.titre,
	'ref': '',
	'local':local,
	'user':user.type,
	'validate':true,
	'options':''
} %}
{% include 'texte.twig' with {'datas': datas }  only %}
<hr class="uk-divider-small">


<h1 class="uk-h3">Slug</h1>
{% if new %}
	{% set disabled = "false" %}
{% else %}
	{% set disabled = "false" %}
{% endif %}

{% include 'url_encode.twig' with {'datas': { 
	'id': 'slug',
	'slug': 'slug',
	'value': module.slug,
	'ref': '',
	'local':local,
	'validate':true,
	'user':user.type,
	'disabled': disabled,
	'options':''
} }  only %}
<hr class="uk-divider-small">								        
								        

										
{# 	
	--------------------
	module input 
	-------------------- 
#}
<h1 class="uk-h3">Type</h1>
{% set datas = { 
	'id': 'type',
	'slug': 'type',
	'value': module.type,
	'ref': '',
	'local':local,
	'validate':true,
	'user':user.type,
	'options':''
} %}							        
{% include 'type.twig' with {'datas': datas,'root':root }  only %}
<hr class="uk-divider-small">



<div id="region" {% if module.type!="region" %}class="hide"{% endif %}>
	
	<h1 class="uk-h3">Région html:</h1>
	<pre class="editor" id="editorhtml" data-input="html" data-mode="html"  style="min-height: 250px;">{{ module.html}}</pre>
	<textarea  id="input_edithtml" name="html" style="display:none;">{{ module.html }}</textarea>
	
	
	
	
	
	<h1 class="uk-h3">Liste des modules:</h1>
	<pre class="editor" id="editorneeded" data-input="needed" data-mode="yaml"  style="min-height: 250px;">{{ module.needed }}</pre>
	<textarea  id="input_editneeded" name="needed" style="display:none;">{{ module.needed }}</textarea>
	
	
	{% include 'blockquote.twig' with {'string': languages.regiontxt1   }  only %}

	
	<hr class="uk-divider-small">
</div>


				        
{# attach cat #} 							        
<div id="module_form_cat_open" {% if module.type!="module_article" and module.type!="module_articles" %} class="hide"{% endif %} >
	
	<h1 class="uk-h3">Catégorie</h1>
										
 	<div class="uk-margin">
	 	<select class="uk-select" id="moduleformcat" name="cat"   >
			<option value="" {% if module.cat=="" or is_array(module.cat) and module.cat is empty or is_array(module.cat) and in_array("",module.cat) and module.cat|length == 1 %} selected {% endif %}  >Vide</option>
	 		{% for cat in folders %}
	 		
	 		<option value="{{ cat.id }}" {% if module.cat == cat.id %} selected {% endif %}  >{{ cat.titre }}</option>
	 		{% endfor %}
	 	</select>
 	</div>
 	<hr class="uk-divider-small">
</div>




<div {% if module.type!="select_multiple" and module.type!="select" %} class="hide"{% endif %} id="moduleoptions">
	<div id="open_options" >
		
		<h1 class="uk-h3">Options</h1>
			{% include 'tags.twig' with {'datas': { 
				'id': 'options',
				'slug': 'options',
				'value': module.options,
				'ref': '',
				'local':local,
				'user':user.type,
				'options':''
			} } only %}
		<blockquote><i class="icon icon-info"></i> Tapez sur entrée après chaque occurence.</blockquote>
	</div>
	<hr class="uk-divider-small">
</div>										
								       
								       	
							       	
<h1 class="uk-h3">Notes</h1>
{% include 'texte.twig' with {'datas': { 
	'id': 'commentaire',
	'slug': 'commentaire',
	'value': module.commentaire,
	'ref': '',
	'local':local,
	'user':user.type,
	'options':''
}} only  %}
<hr class="uk-divider-small">



<h1 class="uk-h3">Traductible</h1>

	{% include 'switch.twig' with {'datas': { 
		'id': 'traductible',
		'slug': 'traductible',
		'value': module.traductible,
		'ref': '',
		'local':local,
		'user':user.type
	} } only %}
	<hr class="uk-divider-small">


<div {% if module.type!="texte" and module.type!="date" and module.type!="number" and module.type!="email" and module.type!="password" %} class="hide"{% endif %} id="modulerequired">

	
	<h1 class="uk-h3">Obligatoire</h1>

	{% include 'switch.twig' with {'datas': { 
		'id': 'require',
		'slug': 'require',
		'value': module.require,
		'ref': '',
		'local':local,
		'user':user.type,
		'options':'',
		'option1':'Non',
		'option2':'Oui'
	} } only %}
	<hr class="uk-divider-small">
</div>




<button type="submit" class="uk-button uk-button-primary"  id="submitmodule" >{{ languages.save }}</button>
	
	
	
				
				
{# ------------------ !CONTENT ---------------------- #}
				

</form>
	 
				 
				 

{% endblock %}