{% extends "layout_connect.twig" %}

 {% block content %}
 
{# 
	-----------------------------
	revenir
	-----------------------------
#}
{% if return is defined  %}
 	
 	<a href="{{ local }}{{ return }}" class="uk-box-shadow-hover-small bttn bttn-top" uk-tooltip="title: {{ languages.revenir }}; pos: right"><i class="icon icon-left"></i></a>


{% endif %}	

{# 
	-----------------------------
	Ajouter
	-----------------------------
#}
{% if 
	user.type=="1" or 
 	user.type=="2" and in_array("c",parametres.permissions_modules)
 %}
 	<a href="{{ local }}modules/new/" class="uk-box-shadow-hover-small bttn bttn-top" uk-tooltip="title: {{ languages.addmodule }}; pos: right"><i class="icon icon-plus2"></i></a>

{% endif %}	

<div class="clear"></div>
				
{% if 
	user.type=="1" or 
 	user.type=="2" and in_array("c",parametres.permissions_modules) or 
 	return is defined
 %}
<div class="space"></div>
{% endif %}					
 								
 {# 
	-----------------------------
	titre de la page
	-----------------------------
#}				
<div class="uk-dark">				
 <h3>{% if pagetitre is defined %}<a class="page-title truncate">{{pagetitre}}</a> {% endif %}</h3>		
</div> 	

{# 
	-----------------------------
	items
	-----------------------------
#}
<ul id="sortable" data-table="modules" class="collection sortable uk-sortable-handle" uk-sortable="handle: .handle">

 					
 					{% for module in modules  %}
 							
 					

 							{% include 'card_generique.twig' with {
 								'id':module.id,
 								'titre':module.titre,
 								'ref':module.cat,
 								'statut':"",
 								'ordre':module.ordre,
 								'infos':infos,
 								'language':languages,
 								'appurl':local,
 								'usertype':user.type,
 								'card':module,
 								'card_type':"modules",
 								'parametres':parametres,
 								'user':user
 								} only %}

 						

 					{% endfor %}
 					
 					
 					</ul><!--end row -->						
 
 
 

 
 
 



 
 
 {% endblock %}