{% extends "layout_connect.twig" %}

 {% block content %}


 													
{% if return is defined  %}
 	
 	<a href="{{ local }}{{ return }}" class="uk-box-shadow-hover-small bttn bttn-top" uk-tooltip="title: {{ languages.revenir }}; pos: right"><i class="icon icon-left"></i></a>

	<div class="clear"></div><div class="space"></div>

{% endif %}									
 								
 <div class="uk-dark">				
 <h3>{% if pagetitre is defined %}<a class="page-title truncate">{{languages.parametres}}</a> {% endif %}</h3>		
 </div> 	



		
			<form role="form" action="{{ root }}api/v1/update/parametres/{{ parametres.id }}" class="ajaxForms" method="post" id="parametres{{ parametres.id }}" >
			
	
				
				{# ------------------ CONTENT ---------------------- #}
				
				
				
				
				
				<h1 class="uk-h3">{{ languages.sitename }}</h1>
				
				{% include 'texte.twig' with {'datas': { 
					'id': 'title',
					'slug': 'title',
					'value': parametres.title,
					'ref': '',
					'local':local,
					'user':user.type,
					'options':''
				} }  only %}
				

				{% include 'blockquote.twig' with {'string': languages.sitenametxt  }  only %}
				<hr class="uk-divider-small">
				
				{# ------------------ end section ---------------------- #}
				
				
				<h1 class="uk-h3">{{ languages.tags }}</h1>
				{% include 'tags.twig' with {'datas': { 
					'id': 'keywords2',
					'slug': 'keywords',
					'value': parametres.keywords,
					'ref': '',
					'local':local,
					'user':user.type,
					'options':''
				} }  only %}
				
				{% include 'blockquote.twig' with {'string': languages.titletxt  }  only %}
				<hr class="uk-divider-small">
				
				{# ------------------ end section ---------------------- #}
				
				
				<h1 class="uk-h3">{{ languages.desctitre }}</h1>

				{% include 'textarea.twig' with {'datas': { 
					'id': 'description',
					'slug': 'description',
					'value': parametres.description,
					'ref': '',
					'local':local,
					'user':user.type,
					'options':''
				} }  only %}
				
				
				{% include 'blockquote.twig' with {'string': languages.desctxt   }  only %}
				<hr class="uk-divider-small">
				
				{# ------------------ end section ---------------------- #}
				
				<h1 class="uk-h3">{{ languages.rs }}</h1>
				
				
				{% include 'yaml.twig' with {'datas': { 
					'id': 'rs',
					'slug': 'rs',
					'value': parametres.rs,
					'ref': '',
					'local':local,
					'user':user.type,
					'options':''
				} }  only %}
				
				<hr class="uk-divider-small">
				{# ------------------ end section ---------------------- #}
				
			{% if 
				user.type=="1" or 
				user.type=="2" and parametres.permissions_parametres=="true" 
			 %}
			 	
			 	
			 	

				<h1 class="uk-h3">Analytics</h1>
			 	
			 	{% include 'texte.twig' with {'datas': { 
			 		'id': 'analytics',
			 		'slug': 'analytics',
			 		'value': parametres.analytics,
			 		'ref': '',
			 		'local':local,
			 		'user':user.type,
			 		'options':''
			 	} }  only %}
			 	
			 	
			 	{% include 'blockquote.twig' with {'string': languages.analyticstxt   }  only %}
				<hr class="uk-divider-small">
				
				{# ------------------ end section ---------------------- #}

			 	
				
				<h1 class="uk-h3">{{ languages.shortcuticon }} </h1>

				{% include 'image2.twig' with {'datas': { 
					'id': 'shortcut_icon',
					'slug': 'shortcut_icon',
					'value': parametres.shortcut_icon,
					'ref': '',
					'local':local,
					'uploads':uploads,
					'user':user.type,
					'options':''
				} }  only %}
				<hr class="uk-divider-small">

				{# ------------------ end section ---------------------- #}

				
				<h1 class="uk-h3">Logo</h1>

				{% include 'image2.twig' with {'datas': { 
					'id': 'logo',
					'slug': 'logo',
					'value': parametres.logo,
					'ref': '',
					'local':local,
					'uploads':uploads,
					'user':user.type,
					'options':''
				} }  only %}
				<hr class="uk-divider-small">

				{# ------------------ end section ---------------------- #}

				
				<h1 class="uk-h3">{{ languages.imgfb }}</h1>

				{% include 'image2.twig' with {'datas': { 
					'id': 'branding',
					'slug': 'branding',
					'value': parametres.branding,
					'ref': '',
					'local':local,
					'uploads':uploads,
					'user':user.type,
					'options':''
				} }  only %}
				
				<hr class="uk-divider-small">

				{# ------------------ end section ---------------------- #}
				
				
				<h1 class="uk-h3">{{ languages.langues }}</h1>

				{% include 'tags.twig' with {'datas': { 
					'id': 'langues',
					'slug': 'langues',
					'value': parametres.langues,
					'ref': '',
					'local':local,
					'user':user.type,
					'options':''
				} }  only %}
				{% include 'blockquote.twig' with {'string': languages.tags   }  only %}
				<hr class="uk-divider-small">

				{# ------------------ end section ---------------------- #}

				<h1 class="uk-h3">{{ languages.ipfilter }}</h1>
				
				{% include 'tags.twig' with {'datas': { 
					'id': 'ipfilter',
					'slug': 'ip_filter',
					'value': parametres.ipfilter,
					'ref': '',
					'local':local,
					'user':user.type,
					'options':''
				} }  only %}
				{% include 'blockquote.twig' with {'string': languages.tags   }  only %}
				<hr class="uk-divider-small">

				{# ------------------ end section ---------------------- #}				
				
			{% endif %}	
				
				
				
				
				
				

				
				
			{% if user.type=="1"  %}
				
				
				
				<h1 class="uk-h3">{{ languages.permissionsettingadvanced }}</h1>
				
				{% include 'switch.twig' with {'datas': { 
					'id': 'permissions_parametres',
					'slug': 'permissions_parametres',
					'value': parametres.permissions_parametres,
					'ref': '',
					'local':local,
					'user':user.type,
					'options':'',
					'option1':languages.no,
					'option2':languages.oui
				} }  only %}
				{% include 'blockquote.twig' with {'string': languages.advencedparameter   }  only %}
				<hr class="uk-divider-small">

				{# ------------------ end section ---------------------- #}	

				<h1 class="uk-h3">{{ languages.permissionfolder }} - Admin</h1>
				<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
				 
				        <label><input class="uk-checkbox" name="permissions_folders[]" value="c" type="checkbox"  {% if in_array("c",parametres.permissions_folders) %}checked{% endif %} >{{ languages.add }}</label>

						<label><input class="uk-checkbox" name="permissions_folders[]" type="checkbox" value="u"  {% if  in_array("u",parametres.permissions_folders) %}checked{% endif %} >{{ languages.edit }}</label>

						<label><input class="uk-checkbox" name="permissions_folders[]"  type="checkbox" value="d" {% if in_array("d",parametres.permissions_folders) %}checked{% endif %} >{{ languages.delete }}</label>
				    
				</div>
				<hr class="uk-divider-small">
				

				<h1 class="uk-h3">{{ languages.permissionmodules }} - Admin</h1>
				<div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">

					<label><input class="uk-checkbox" name="permissions_modules[]" value="c" type="checkbox"  {% if in_array("c",parametres.permissions_modules) %}checked{% endif %} >{{ languages.add }}</label>

					<label><input class="uk-checkbox" name="permissions_modules[]" type="checkbox" value="u"  {% if in_array("u",parametres.permissions_modules) %}checked{% endif %} >{{ languages.edit }}</label>

					<label><input class="uk-checkbox" name="permissions_modules[]"  type="checkbox" value="d" {% if in_array("d",parametres.permissions_modules) %}checked{% endif %} >{{ languages.delete }}</label>
					
				</div>
				<hr class="uk-divider-small">	
				
				{#
				<div class="clear"></div><br><label class="titreModule">HTML</label><div class="clear"></div>
				
				
				{% include 'switch.twig' with {'datas': { 
					'id': 'htmlpublish',
					'slug': 'htmlpublish',
					'value': parametres.htmlpublish,
					'ref': '',
					'local':local,
					'user':user.type,
					'options':'',
					'option1': languages.no,
					'option2': languages.oui
				} }  only %}	
				
				#}
				
				<h1 class="uk-h3">API Code</h1>
				
				
				<div class="uk-margin">
					<input class="uk-input" id="apicode" type="text"  value="{{ parametres.apicode }}" >
				</div>	
			
				<div class="uk-button uk-button-secondary getnewapicode"  >Générer</div>
			
				<hr class="uk-divider-small">

				<script>
				{# newapicode #}
				$(".getnewapicode").on("click",function(){
					$.post("{{ root }}backend/newapicode/", function(data){
	 					    	  		 	
	 				$("#apicode").val(data.code);
	 					    	  		 	
	 				});
				});
				</script>
			{% endif  %}
			
			
				
			
			
			
				
				<div class="clear"></div>
				<br><br>
				<h1 class="uk-h3">{{ languages.public }}</h1>
				{% include 'switch.twig' with {'datas': { 
					'id': 'production',
					'slug': 'production',
					'value': parametres.production,
					'ref': '',
					'local':local,
					'user':user.type,
					'options':'',
					'option1': languages.brouillon,
					'option2': languages.publie
				} }  only %}
			
				
				
				
				
				
					

					
					
				
				
					{# ------------------ !CONTENT ---------------------- #}
					
					<!-- Button trigger modal -->
					<div class="clear"></div><br>
					<button type="submit" class="uk-button uk-button-primary" >{{ languages.save }}</button>
					
								
						
							</form>
						
								 
								 
								 
								
								
<div class="lean-overlay2" id="materialize_lean_overlay"></div>
{% endblock %}
