{% extends "layout_connect.twig" %}

 {% block content %}
		
<main >
	<div class="container">
		<div class="row">
			<div class="col s12 m9 l10">	
				
				
				
				<div class="section-header">
 					<br>
 							
 					<div id="buttonsheader">
 													
 						{% if return is defined  %}
 							<a href="{{ local }}{{ return }}" class="uk-box-shadow-hover-small bttn bttn-top" uk-tooltip="title: {{languages.revenir}}; pos: right"><i class="icon icon-left"></i></a>	
 						{% endif %}									
 								
 					</div>
 				</div><!--end .section-header -->		


		
 
		<div class="section-body">
			<form role="form" action="{{ local }}search/" method="post" id="parametres{{ parametres.id }}" >
			
				<div class="row formview">
				
				{# ------------------ CONTENT ---------------------- #}
				
				
				<div class="clear"></div>
				<div class="space"></div>
				<div class="uk-dark"><h3><a class="page-title truncate">{{ languages.yoursearch }}:</a></h3></div>
			
		
				<div class="clear"></div>
				
				{% include 'texte.twig' with {'datas': { 
					'id': 'search',
					'slug': 'search',
					'value': '',
					'ref': '',
					'local':local,
					'user':user.type,
					'options':''
				} }  only %}
				
				
								
					

					
					
				
				
					{# ------------------ !CONTENT ---------------------- #}
					
					<!-- Button trigger modal -->
					<div class="clear"></div>
					<button type="submit" class="uk-button uk-button-primary" id="submitarticle" >{{ languages.search }}</button>
					<div class="space"></div>
								
				</div>
			</form>
		</div>
							
					
		<div class="section-body">
			{% if empty=="true" %}
			<p>{{ languages.noresult }}</p>
			{% endif %}
			
		 	<ul id="sortable"  class="collection sortable uk-sortable-handle" uk-sortable="handle: .handle" data-table="articles" data-ref="{{ cat }}"> 

		 	{% for article in articles  %}
		 		
		 		<li class="collection-item list-group-item {% if statut=='false' or card_type=='articles' and article.statut!='true' %} unpublished {% endif %}" data-id="{{ id }}" data-ref="{{ cat }}" ordre="{{ ordre }}" id="block{{ id }}"  >
        			<div class="uk-card ">

				{% include 'card_search.twig' with {
							'id':article.id,
							'titre':article.titre,
							'folder':article.folder,
							'statut':article.statut,
							'ordre':article.ordre,
							'infos':"",
							'language':languages,
							'appurl':local,
							'usertype':user.type,
							'article':article,
							'card_type':"articles",
							'page':"false"
				} only %}
					
					</div>
				</li>

		 	{% endfor %}
		 			
		 	</ul><!--end row -->						
		 </div><!--end .section-body -->			

					
							
							
							
							</div>
						</div>
					</div>
				</main>
								 
								 
								 
								
								
<div class="lean-overlay2" id="materialize_lean_overlay"></div>
{% endblock %}
