{# 
	i18n ok 
	apply in  articles.twig
#}






{#
<li class="collection-item list-group-item {% if statut=='false' or card_type=='articles' and article.statut!='true' %} unpublished {% endif %}" data-id="{{ id }}" data-ref="{{ cat }}" ordre="{{ ordre }}" id="block{{ id }}"  >
	#}

<li class="collection-item list-group-item {% if statut=='false' or card_type=='articles' and article.statut!='true' %} unpublished {% endif %}" data-id="{{ id }}" data-ref="{{ ref }}" ordre="{{ ordre }}" id="block{{ id }}"  >
     <div class="uk-card ">
	
	

		 
<div class="innercard">
		 
		 <div class="handle" id="handle{{ id }}" uk-tooltip="title: {{ language.ordonner }}; pos: left"  ><I class="icon icon-grid"></I></div>
		 <div class="backid" >{{ id }}</div>
		
		
	
			
		
		
			
			<p class="truncate" >
			

			
			
			{% if titre=="" %}
				{{ language.sanstitre }}
			{% else %}
				{{ titre|raw}}
			{% endif %} 
			
			{% if page is defined and page=="true" and statut=='false' %} ( {{ language.nonpublie }} ) {% endif %}
			
				{% if infos is defined and infos!=""  %}

				{{ infos|raw }}
			{% endif %}


			{% if card_type=="articles" %}
				{% set n = 0 %}

				{% for seethat in folderarray.modulesinlist %}


					

					{% set info = article[ seethat ] %}
					{% if info!="" %}	
					

						{% if n==0 %}
							{% set color = "#42A5F5" %}
						{% elseif n==1 %}
							{% set color = "tomato" %}
						{% elseif n==2 %}
							{% set color = "purple" %}
						{% elseif n==3 %}
							{% set color = "pink" %}
						{% else  %}
							{% set color = "teal" %}
						{% endif %}
						
						<span class="uk-badge" style="color: {{ color }};" >{{ info|capitalize }}</span>

					{% endif %}

					{% set n = n + 1 %}

					
				{% endfor %}
				
				{% set langs = article.langlist|split(",") %}
				
				
				{% for l in langs %}{% if l!="" %}
				
				<span class="uk-badge" uk-tooltip="title: {{ article.lang }}; pos: left" >{{ l|slice(0, 1)|capitalize }}</span>

				{% endif %}{% endfor %}
			{% endif %}


			</p>
			
		
	
		<div class="actionscard">
			{# delete #}
			
			
			{% if card_type=="folders" %}
				
				{# delete #}
				{% if 
					usertype==1 or 
					usertype==2 and in_array("d",parametres.permissions_folders)
				 %}
				<a class="uk-box-shadow-hover-small delete" id="supprimer{{ id }}" data-table="{{ card_type }}" data-id="{{ id }}" uk-tooltip="title: {{ language.supprimer }}; pos: left" data-callbackdelete="#block{{ id }}"  ><i class="icon icon-trash"></i></a>
				{% endif %}
				
				{% if 
					usertype==1 or 
					usertype==2 and in_array("u",parametres.permissions_folders)
				 %}
				<a class="uk-box-shadow-hover-small" uk-tooltip="title: {{ language.editercategorie }}; pos: left" href="{{appurl }}folders/{{id}}/"><i class="icon icon-folder"></i></a>
				{% endif %}
				
				{% if 
					usertype==1 or 
					usertype==2 and in_array("u",perm2) or 
					usertype==3 and in_array("u",perm3)
				 %}
				<a class="uk-box-shadow-hover-small" id="editer{{ id }}"  uk-tooltip="title: {{ language.editer }}; pos: left" href="{{appurl }}articles/{{ id }}/"><i class="icon icon-edit"></i></a>
				{% endif %}
			
			
			{% elseif card_type=="articles" %}
				
	
				{% if 
					usertype==1 or 
					usertype==2 and in_array("d",perm2)
				 %}
				<a class="uk-box-shadow-hover-small btn-close delete" data-table="{{ card_type }}" data-id="{{ id }}" uk-tooltip="title: {{ language.supprimer }}; pos: left" data-callbackdelete="#block{{ id }}"  ><i class="icon icon-trash"></i></a>
				{% endif %}
				<a class="uk-box-shadow-hover-small"   uk-tooltip="title: {{ language.editer }}; pos: left" href="{{appurl }}articles/{{folder}}/{{id}}/"><i class="icon icon-edit"></i></a>
			
			{% elseif card_type=="modules" %}
				
				{% if user.type=="1" or user.type=="2" and in_array("d",parametres.permissions_modules) %}	
				<a class="btn-close delete uk-box-shadow-hover-small" data-table="{{ card_type }}" data-id="{{ id }}" uk-tooltip="title: {{ language.supprimer }}; pos: left" data-callbackdelete="#block{{ id }}"  ><i class="icon icon-trash"></i></a>
				{% endif %}
				<a class="uk-box-shadow-hover-small" uk-tooltip="title: {{ language.editer }}; pos: left" href="{{appurl }}{{ card_type }}/{{id}}/"><i class="icon icon-edit"></i></a>
				
			{% else %}
				
				<a class="uk-box-shadow-hover-small btn-close delete" data-table="{{ card_type }}" data-id="{{ id }}" uk-tooltip="title: {{ language.supprimer }}; pos: left" data-callbackdelete="#block{{ id }}"  ><i class="icon icon-trash"></i></a>
				
				<a class="uk-box-shadow-hover-small" uk-tooltip="title: {{ language.editer }}; pos: left" href="{{appurl }}{{ card_type }}/{{id}}/"><i class="icon icon-edit"></i></a>
				
			{% endif %}
			
			
		</div>
		

</div>	
	
	
	</div>
    </li>
