
  
<header id="menu">
 
<ul class="menu1">


	{# VIEW PAGE #}
 	{% set languearray = parametres.langues|split(',') %}
 	{% if folder.page == "true" and article.page=="true" and parametres.multisites!="true" and not new %}
 		
 		<li><a target="_blank" href="{{ root }}{% if languearray|length > 1  %}{{ article.lang|lower }}/{% endif %}{{article.url}}" uk-tooltip="title: Voir le site; pos: right"><i class="icon icon-eye-1"></i></a></li>

 				
 	{% endif %}	


	
	<li><a href="{{ local }}" {% if template =="home" %} class="active" {% endif %} uk-tooltip="title: {{ languages.accueil }}; pos: right"><I class="icon icon-folder-2"></i></a></li>
	
	<li><a href="{{ local }}search/" {% if template =="search" %} class="active" {% endif %} uk-tooltip="title: Recherche; pos: right"><i class="icon icon-magnifying-glass"></i></a></li>
	
	<li><a href="{{local }}parametres/" {% if template =="parametres" %} class="active" {% endif %} uk-tooltip="title: {{ languages.parametres }}; pos: right"><i class="icon icon-gear-b"></i></a></li>
	
	{# ---------- modules  ---------#}
    {% if user.type=="1" or user.type=="2" and in_array("u",parametres.permissions_modules) %}
	<li><a href="{{local }}modules/" {% if template =="modules" or template =="module" %} class="active" {% endif %} uk-tooltip="title: {{ languages.modules }}; pos: right"><i class="icon icon-android-options"></i></a></li>
	{% endif %}
	
	{# ---------- users  ---------#}
	{% if user.type=="1" or user.type=="2" and in_array("u",parametres.permissions_users)  %}
    	
    	<li><a href="{{local }}users/" {% if template =="users" or template =="user" %} class="active" {% endif %} uk-tooltip="title: {{ languages.users }}; pos: right"><i class="icon icon-android-person"></i></a></li>
    	
    {% else %}
    	 
    	 <li><a href="{{local }}users/{{user.id}}/" {% if template =="users" or template =="user" %} class="active" {% endif %} uk-tooltip="title: {{ languages.user }}; pos: right"><i class="icon icon-android-person"></i></a></li>
    	 
    {% endif %}
    
    
    {% if user.type=="1" or user.type=="2" %}
	<li><a href="{{local }}backup/" {% if template =="backup" %} class="active" {% endif %} uk-tooltip="title: Sauveguardes; pos: right"><i class="icon icon-android-refresh"></i></a></li>
	{% endif %}
	
	
	<li><a href="" class="deconect" uk-tooltip="title: {{ languages.exit }}; pos: right"><i class="icon icon-unlock-1"></i></a></li>

</ul>


<ul class="menu2">
	<li class="name"><a href="{{ root }}" target="_blank"></li>{{ parametres.title }}</a></li>
	
	
</ul>
  
  
</header>







